# macOS
.DS_Store
**/.DS_Store

# VSCode local settings
.vscode/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Logs
*.log

# Local Python virtual environments
thesis_daily_env/
.venv/
venv/
env/
